#{ margin: 0;}
body {
  background: rgba(1,1,1,0.8);
  background-size: 100%;
  width: 100%;
  height: 100%;
}
html {
  width: 100%;
  height: 100%;
}
ul {
  list-style-type: none;
}


.ui-widget-content{
  border: none;
}

/* youtube */
#youtube-list{
  color:white;
}
#channellist {
  color: black;
  margin: 0px 15px 0px 15px;
}

#youtube-list li {
  margin-bottom: 10px;
}
.card-ui {
  border: 1px solid rgba(1,1,1,0.8);
  font-size: 2.3rem;
  background-color: rgba(255,255,255,1);
  box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2), 0 10px 24px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
}
.card-ui img{
  width: 100%;
  height: 100%;
}
#playlist {
  color:white;
}

/* Youtube - Channel*/
#channel_delete{
  position: absolute;
  top:1px;
  right:16px;
  border:none;
  background-color: rgba(255,255,255,0);
  font-size: 30px;
}
/* widget */
#widget{
  width: 500px;
  height: 500px;
  border: 1px solid white;
}
/* Weather */
#weatherRow i{
  color: #f7f7f7;
  text-shadow: 0 0 20px rgba(10, 175, 230, 1), 0 0 20px rgba(10, 175, 230, 0);

}
#weatherRow p {
  font-size: 20px;
  margin-top: 12px;
  color: #f7f7f7;
}
#today-weather {
  float: left;
  border-right: 1px solid rgba(255,255,255,0.3);
}

/* Clock */
#clock div {
  margin: 0;
  padding: 0;
}

#clock {
  margin-top: 20px;
  font-family: 'Share Tech Mono', monospace;
  color: #fff;
  color: #f7f7f7;
  text-align: center;
}
#clock .date {
  letter-spacing: 0.3em;
  font-size: 26px;
  text-shadow: 0 0 20px rgba(10, 175, 230, 1), 0 0 20px rgba(10, 175, 230, 0);
}
#clock .time {
  letter-spacing: 0.4em;
  font-size: 60px;
  text-shadow: 0 0 20px rgba(10, 175, 230, 1), 0 0 20px rgba(10, 175, 230, 0);
}
