#{ margin: 0;}
body {
  background: rgba(1,1,1,1);
  background-size: 100%;
  width: 100%;
  height: 100%;
}
html {
  width: 100%;
  height: 100%;
}
ul {
  list-style-type: none;
  padding: 0px;
}

.row { /* default margin이 left & right -15px이여서 쓸데없이 좌우 스크롤이 생겨서 고치는 코드 */
  margin: 0px !important;
}

.ui-widget-content{
  border: none;
}
.bright-shadow{
  text-shadow: 0 0 20px rgba(10, 175, 230, 1), 0 0 20px rgba(10, 175, 230, 0)
}

/* modal */
.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .8);
  display: block;
  transition: opacity .3s ease;
}

.modal-wrapper {
  display: block;
  vertical-align: middle;
  width: 100%;
  height: 100%;
}

.modal-container {
  width: 100%;
  height: 100%;
  margin: 10px;
  padding: 10px;
  transition: all .3s ease;
  font-family: Helvetica, Arial, sans-serif;
  overflow-y: auto;
}



.modal-default-button {
  height: 70px;
  float: left;
  background-color: rgba(255,255,255,0);
  border: none;
  color: white;
  font-size: 40px;
  margin: 0 0 0 20px;
}

/*
 * The following styles are auto-applied to elements with
 * transition="modal" when their visibility is toggled
 * by Vue.js.
 *
 * You can easily play with the modal transition by editing
 * these styles.
 */

.modal-enter {
  opacity: 0;
}

.modal-leave-active {
  opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

/* youtube */
.number_box {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0; border: 0;
  right: 45px;
  width: 160px;
  height: 180px;
  text-align: center;
  justify-content: center;
  align-items: center;
  background-color: rgba(26, 26, 27,0.7);
  color: white;
  font-size: 2.5rem;
}
.show_number {
  font-size: 1.8rem;
}

#channellist {
  color: black;
  margin: 0px 15px 0px 15px;
}

.white-scale-100{
  color:white;
  width: 100%;
  height: 100%;
}
.white-scale-100 li{
  margin-bottom: 10px;
  height: 290px;
}
.white-scale-100 li img{
  margin-bottom: 5px;
}
/*
#youtube-list{
  color:white;
  width: 100%;
  height: 100%;
}
#youtube-list li {
  margin-bottom: 10px;
  height: 290px;
}
#youtube-list li img {
  margin-bottom: 5px;
}


#playlist {
  color:white;
  width: 100%;
  height: 100%;
}
#playlist li {
  margin-bottom: 10px;
  height: 290px;
}
#listItem {
  color:white;
  width: 100%;
  height: 100%;
}
#listItem li {
  margin-bottom: 10px;
  height: 290px;
}
*/
#playlist li div{
  margin-bottom: 15px;
}

#listItem li div{
  margin-bottom: 15px;
}
/* Youtube - Channel*/
#channel_delete{
  position: absolute;
  top:1px;
  right:16px;
  border:none;
  background-color: rgba(255,255,255,0);
  font-size: 30px;
}
/* widget */
#widget{
  margin-top: 30px;
  width: 500px;
  height: 400px;
  border: 1px solid white;
  float: right;
}
