#{ margin: 0;}
body {
  background: rgba(1,1,1,0.8);
  background-size: 100%;
  width: 100%;
  height: 100%;
}
html {
  width: 100%;
  height: 100%;
}
ul {
  list-style-type: none;
  padding: 0px;
}

.VueCarousel-navigation-button{
  position: relative !important;
  font-size:40px;
  color: white !important;
}
.ui-widget-content{
  border: none;
}


/* modal */
.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  display: block;
  transition: opacity .3s ease;
}

.modal-wrapper {
  display: block;
  vertical-align: middle;
  width: 100%;
  height: 100%;
}

.modal-container {
  width: 100%;
  height: 100%;
  margin: 10px;
  padding: 10px;
  transition: all .3s ease;
  font-family: Helvetica, Arial, sans-serif;
  overflow-y: auto;
}



.modal-default-button {
  float: left;
  background-color: rgba(255,255,255,0);
  border: none;
  color: white;
  font-size: 30px;
  margin: 0 0 10px 20px;
}

/*
 * The following styles are auto-applied to elements with
 * transition="modal" when their visibility is toggled
 * by Vue.js.
 *
 * You can easily play with the modal transition by editing
 * these styles.
 */

.modal-enter {
  opacity: 0;
}

.modal-leave-active {
  opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

/* youtube */
#youtube-list{
  color:white;
  width: 100%;
  height: 100%;
}
#channellist {
  color: black;
  margin: 0px 15px 0px 15px;
}

#youtube-list li {
  margin-bottom: 10px;
  width: 400px;
  height: 300px;
}
#youtube-list li img {
  margin-bottom: 5px;
}

.card-ui {
  border: 1px solid rgba(1,1,1,0.8);
  font-size: 2.3rem;
  background-color: rgba(255,255,255,1);
  box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2), 0 10px 24px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
}
.card-ui img{
  width: 100%;
  min-width: 50%;
  height: 100%;
  min-height: 50%;
}
#playlist {
  color:white;
}
#playlist li {
  margin-bottom: 15px;
}
#playlist li div{
  margin-bottom: 15px;
}
/* Youtube - Channel*/
#channel_delete{
  position: absolute;
  top:1px;
  right:16px;
  border:none;
  background-color: rgba(255,255,255,0);
  font-size: 30px;
}
/* widget */
#widget{
  width: 500px;
  height: 350px;
  border: 1px solid white;
}
/* Weather */
#weatherRow i{
  color: #f7f7f7;
  text-shadow: 0 0 20px rgba(10, 175, 230, 1), 0 0 20px rgba(10, 175, 230, 0);

}
#weatherRow p {
  font-size: 20px;
  margin-top: 12px;
  color: #f7f7f7;
}
#today-weather {
  float: left;
  border-right: 1px solid rgba(255,255,255,0.3);
}

/* Clock */
#clock div {
  margin: 0;
  padding: 0;
}

#clock {
  margin-top: 20px;
  font-family: 'Share Tech Mono', monospace;
  color: #fff;
  color: #f7f7f7;
  text-align: center;
}
#clock .date {
  letter-spacing: 0.3em;
  font-size: 26px;
  text-shadow: 0 0 20px rgba(10, 175, 230, 1), 0 0 20px rgba(10, 175, 230, 0);
}
#clock .time {
  letter-spacing: 0.4em;
  font-size: 60px;
  text-shadow: 0 0 20px rgba(10, 175, 230, 1), 0 0 20px rgba(10, 175, 230, 0);
}
